.books-bg{
	background-image: url(./images/books-bg.jpg);
	background-repeat: repeat-y;
	padding-top: 0;
	box-shadow: none !important;
	border-radius: 6px 6px 4px 4px;
}

#books-toolbar{
	height: 39px;
	width: 980px;
	margin-left: -20px;
	border-radius: 4px 4px 0 0;
	background-image: url(./images/books-toolbar-bg.jpg);
	background-repeat: no-repeat;
	border-top: 1px solid #f1d8ab;
	text-align: center;
	color: #91581e;	
	font-weight: bold;
	font-size: 16px;
	text-shadow: 0 1px 0 #f1ddb8;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	line-height: 40px;
}

#books-toolbar-wrapper{
	width: 980px;
	margin-left: -20px;
	height: 30px;
	overflow: hidden;
}

#books-toolbar-filter{
	height: 23px;
	border-top: 1px solid #3c3834;
	border-bottom: 1px solid #282625;	
	background: #5f5f67;
	background: -moz-linear-gradient(top,  #5f5f67 0%, #484442 3%, #373432 98%, #3b3837 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f5f67), color-stop(3%,#484442), color-stop(98%,#373432), color-stop(100%,#3b3837));
	background: -webkit-linear-gradient(top,  #5f5f67 0%,#484442 3%,#373432 98%,#3b3837 100%);
	background: -o-linear-gradient(top,  #5f5f67 0%,#484442 3%,#373432 98%,#3b3837 100%);
	background: -ms-linear-gradient(top,  #5f5f67 0%,#484442 3%,#373432 98%,#3b3837 100%);
	background: linear-gradient(to bottom,  #5f5f67 0%,#484442 3%,#373432 98%,#3b3837 100%);
	width: 980px;
	font-size: 12px;
	line-height: 23px;
	font-weight: bold;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

#books-filter-left{
	float: left;
	display: inline-block;
	margin-left: 20px;
}

#books-filter-left a{
	color: #e5d5b8;
	text-decoration: none;
	margin-right: 10px;
}

#books-filter-left a:hover{
	text-decoration: underline;
}

#books-filter-left #active{
	color: white;
}

#books-filter-right{
	font-weight: normal;
	float: right;
	margin-right: 20px;
display: none;
}

#books-filter-right a{
	color: #a89980;
	text-decoration: none;
}

#books-filter-right a:hover{
	text-decoration: underline;
}

#new-book-box{
	float: left;
	clear: left;
	width: 940px;
	padding-top: 50px;
	position: relative;
	z-index: 2;
}

#new-book-box a{
	text-decoration: none;
}

#new-book-image-box{
	width: 450px;
	display: inline-block;
}

#new-book-image-box img{
	width: 255px;
	float: right;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

#new-book-title{
	display: inline-block;
	vertical-align: top;
	padding-left: 30px;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	width: 384px;
	margin-top: 60px;
}

#new-book-title h1, .book-page-title h1{
	color: white;
	font-size: 36px;
	line-height: 38px;
	text-shadow: 0 1px 3px #6b471f;
	font-weight: bold;
	margin-top: 20px;
	font-family: helvetica neue, helvetica, arial, sans-serif;
}

#new-book-title h1{
	margin-top: 70px;
}


#new-book-title p{
	font-size: 18px;
	line-height: 24px;
	color: #f6e8ce;
	margin-top: 20px;
	text-shadow: 0 1px 3px #6b471f;
}

.bookshelf-row{
	width: 1000px;
	margin-left: -30px;
	float: left;
	clear: left;
	background-image: url(./images/bookshelf-row.png);
	background-repeat: none;
	height: 147px;
	margin-top: -59px;
	z-index: 1;
	position: relative;
}

.books-row-switch-box{
	text-align: center;
	width: 940px;
	float: left;
	clear: left;
	height: 14px;
	position: relative;
	z-index: 3;
	margin-bottom: -20px;
display: none;
}

.books-row-switch-box a{
	display: inline-block;
	width: 32px;
	height: 9px;
	background-image: url(./images/new-books-switch.png);
	background-repeat: no-repeat;
}

#new-books-switch-active{
	display: inline-block;
	width: 32px;
	height: 9px;
	background-image: url(./images/new-books-switch-active.png);
	background-repeat: no-repeat;
}

.see-also-books{
	float: left;
	clear: left;
	width: 980px;
}

.see-also-books h2{
	text-align: center;
	font-weight: bold;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	color: #f6e8ce;
	text-shadow: 0 1px 2px #6b471f;
	font-size: 16px;
	margin-top: -20px;
	margin-bottom: 20px;
	width: 940px;
}

#new-book-image-box h2{
	text-align: center;
	font-weight: bold;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	color: #f6e8ce;
	text-shadow: 0 1px 2px #6b471f;
	font-size: 24px;
	margin-top: -20px;
	width: 940px;
	
}

.see-also-books .bookshelf-row{
	margin-top: 180px;
	margin-bottom: -20px;
}

.bookshelf-also-book{
	float: left;
	width: 910px;
	margin-left: 10px;
	padding: 0 20px;
	padding-left: 45px;
}

.bookshelf-also-book a{
	text-decoration: none;
}

.see-also-book-153 img{
	width: 153px;
	vertical-align: bottom;
	margin: 0 10px;
	margin-bottom: -42px;
	margin-top: -173px;
	max-height: 233px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.see-also-book-145 img{
	width: 145px;
	margin: 0 10px;
	margin-top: -173px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}


/* Book Page */
/*
.book-page-box{
	float: left;
	clear: left;
	border-radius: 10px;
	width: 940px;
	margin-bottom: 40px;
	margin-top: 20px;
	background-color: rgba(66, 37, 11,.3);
	padding-top: 40px;
	padding-bottom: 40px;
}
*/

.book-page-box{
	float: left;
	clear: left;
	width: 980px;
	margin-left: -20px;
	margin-bottom: 10px;
	margin-top: -5px;
	background: #373432;
	background-image: url(./images/darkdenim3.png);
	background-repeat: repeat;
	padding-top: 40px;
	padding-bottom: 0px;
	border-top: 1px solid rgba(255,255,255,0.1);
}

.book-page-cover{
	float: left;
	padding-left: 40px;
	text-align: center;
}

.book-page-cover p{
	float: left;
	font-size: 11px;
	color: #999;
	text-align: left;
	clear: left;
	line-height: 22px;
	width: 288px;
}

.book-page-cover img{
	width: 288px;
	float: left;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.see-also-bookpage{
	margin-top: 40px;
	width: 940px;
}

.book-page-title{
	float: left;
	width: 550px;
	padding-left: 40px;
	color: white;
}

.book-page-title h3{
	width: auto !important;
	margin-left: inherit !important;
}

.book-page-title .active-main-menu{
	float: left;
	clear: left;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 20px;
}

.book-page-title h1{
	margin-top: 20px;
	font-size: 32px;
	line-height: 38px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.book-page-title h3{
	float: left;
	clear: left;
	color: white;
	margin-top: 60px;
}

.book-page-title p{
	float: left;
	clear: left;
	width: 520px;
	font-size: 13px;
	color: #B3B3B3;
	line-height: 22px;
}

.book-info-bottom-border{
	width: 980px;
	background: #5f5f67;
	background: -moz-linear-gradient(top,  #5f5f67 0%, #484442 %, #373432 98%, #3b3837 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f5f67), color-stop(4%,#484442), color-stop(98%,#373432), color-stop(100%,#3b3837));
	background: -webkit-linear-gradient(top,  #5f5f67 0%,#484442 4%,#373432 98%,#3b3837 100%);
	background: -o-linear-gradient(top,  #5f5f67 0%,#484442 4%,#373432 98%,#3b3837 100%);
	background: linear-gradient(to bottom,  #5f5f67 0%,#484442 4%,#373432 98%,#3b3837 100%);
	float: left;
	clear: left;
	height: 20px;
	margin-top: 40px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.book-page-cover h5{
	font-weight: bold;
	font-size: 13px;
	float: left;
	clear: left;
	color: #B3B3B3;
	margin-top: 30px;
	margin-bottom: 0px;
}

.price{
	font-size: 18px !important;
	margin: 0;
	float: left;
	clear: left;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	margin-top: 20px;
display: none;
}

.book-page-box a{
	color: #0AF;
}

.category{
	width: 940px;
	text-align: center;
	float: left;
	clear: left;
	color: white;
	text-shadow: 0 1px 3px #6b471f;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 40px;
}

.main-info{
	font-size: 12px;
	float: left;
	clear: left;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #B3B3B3;
	line-height: 24px;
}

#books-home-icon{
	background-image: url(./images/books-home-icon.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 14px;
	display: inline-block;
	margin-right: 5px;
	background-position: -25px -5px;
	margin-bottom: -2px;
}

#books-home-icon-inactive{
	background-image: url(./images/books-home-icon.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 14px;
	display: inline-block;
	margin-right: 5px;
	background-position: -5px -5px;
	margin-bottom: -2px;
}

#all-books-link{
	display: inline-block;
	font-size: 13px;
	margin-top: 84px;
	text-decoration: none;
	text-shadow: 0 1px 3px rgba(0,0,0,0.4);
	box-shadow: 0 1px 0 rgba(255,255,255,0.3);
	color:#f6e8ce;
	background: rgba(0,0,0,0.4);
	padding: 4px 25px;
	border-radius: 20px;
}

#all-books-link:hover{
	background: rgba(0,0,0,0.5);
}

#all-books-link-box{
	width: 1000px;
	float: left;
	clear: left;
	text-align: center;
}

.new-book-tag{
	color: white;
	float: left;
	clear: left;
	padding: 4px 8px;
	background: #ff9200;
	background: -moz-linear-gradient(top,  #ff9200 0%, #ff7700 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9200), color-stop(100%,#ff7700));
	background: -webkit-linear-gradient(top,  #ff9200 0%,#ff7700 100%);
	background: -o-linear-gradient(top,  #ff9200 0%,#ff7700 100%);
	background: linear-gradient(to bottom,  #ff9200 0%,#ff7700 100%);
	font-size: 12px;
	text-shadow: 0 1px 0 #cd7500;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

#new-book-title h1, .book-page-title h1, #new-book-title p{
	float: left;
	clear: left;
}

.buy-book-link{
	background: #63a8ed;
	background: -moz-linear-gradient(top,  #63a8ed 0%, #4497ea 51%, #267ed6 99%, #67a6e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63a8ed), color-stop(51%,#4497ea), color-stop(99%,#267ed6), color-stop(100%,#67a6e5));
	background: -webkit-linear-gradient(top,  #63a8ed 0%,#4497ea 51%,#267ed6 99%,#67a6e5 100%);
	background: -o-linear-gradient(top,  #63a8ed 0%,#4497ea 51%,#267ed6 99%,#67a6e5 100%);
	background: -ms-linear-gradient(top,  #63a8ed 0%,#4497ea 51%,#267ed6 99%,#67a6e5 100%);
	background: linear-gradient(top,  #63a8ed 0%,#4497ea 51%,#267ed6 99%,#67a6e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a8ed', endColorstr='#67a6e5',GradientType=0 );
	color: white !important;
	border:none;
	float: left;
	clear: left;
	text-shadow: 0 -1px 0px #2075CB;
	font-size: 17px;
	text-decoration: none;
	margin-top: 10px;
	padding: 14px 38px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 25px;
	border: 1px solid #1973CC;
	box-shadow: 0 1px 0px rgba(255, 255, 255, 0.3) inset, 0 -1px 0px rgba(255, 255, 255, 0.1) inset, 0 1px 0px rgba(100, 100, 100, 0.1);
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.3) inset, 0 -1px 0px rgba(255, 255, 255, 0.1) inset, 0 1px 0px rgba(100, 100, 100, 0.1);
	-moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.3) inset, 0 -1px 0px rgba(255, 255, 255, 0.1) inset, 0 1px 0px rgba(100, 100, 100, 0.1);
}