.app-store-icon{
	background-image: url(http://macilove.com/questions/answers-icons/app-store_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.imac-icon{
	background-image: url(http://macilove.com/questions/answers-icons/imac_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.ios-icon{
	background-image: url(http://macilove.com/questions/answers-icons/ios_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.ipad-icon{
	background-image: url(http://macilove.com/questions/answers-icons/ipad_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.iphone-icon{
	background-image: url(http://macilove.com/questions/answers-icons/iphone_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.ipod-icon{
	background-image: url(http://macilove.com/questions/answers-icons/ipod_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.mac-mini-icon{
	background-image: url(http://macilove.com/questions/answers-icons/mac-mini_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.mac-pro-icon{
	background-image: url(http://macilove.com/questions/answers-icons/mac-pro_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.macbook-icon{
	background-image: url(http://macilove.com/questions/answers-icons/macbook_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.os-x-icon{
	background-image: url(http://macilove.com/questions/answers-icons/os-x_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.xcode-icon{
	background-image: url(http://macilove.com/questions/answers-icons/xcode_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.accessories-icon{
	background-image: url(http://macilove.com/questions/answers-icons/accessories_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.applications-icon{
	background-image: url(http://macilove.com/questions/answers-icons/applications_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}

.other-icon{
	background-image: url(http://macilove.com/questions/answers-icons/other_2x.jpg);
	display: inline-block;
	width: 150px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: contain;
}