.underline {
text-decoration: underline;
}
.line-throught {
text-decoration: line-through;
}

#comments .bbedit-toolbar{
	background: none !important;
}
.bbedit-toolbar {
	width: 676px;
	background-color: #E4E8ED;
	float: left;
	height: 42px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-bottom: -1px;
	border: 1px solid #CBD3DC;
}

.bbedit-toolbar span.hover,
.bbedit-toolbar span:hover {
	cursor: pointer;
}
.bbedit-smileybar img {
display: none;}
.bbedit-b {
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
}

.bbedit-b:hover {
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: 0px -34px;
}

.bbedit-i {
	float: left;
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -32px 0px;
}


.bbedit-i:hover {
	float: left;
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -32px -34px;
}



.bbedit-em  {
	float: left;
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -274px 0px;
}

.bbedit-em:hover {
	float: left;
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -274px -34px;
}



.bbedit-u {
display: none;
}

.bbedit-s {
	float: left;
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -64px 0px;
}

.bbedit-s:hover {
	float: left;
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -64px -34px;
}

.bbedit-h2 {
	float: left;
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -33px 0px;	
}

.bbedit-h2:hover {
	float: left;
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -33px -34px;
}

.bbedit-youtube {
	float: left;
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -272px 0px;
}

.bbedit-youtube:hover{
	float: left;
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -272px -34px;
}



.bbedit-url {
	float: left;
	width: 35px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -103px 0px;
	margin-left: 3px;
}

.bbedit-url:hover {
	float: left;
	width: 35px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -103px -34px;
	margin-left: 3px;
}


.bbedit-url_ext {
	float: left;
	width: 35px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -444px 0px;
	margin-left: 3px;
}

.bbedit-url_ext:hover {
	float: left;
	width: 35px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -444px -34px;
	margin-left: 3px;
}


.bbedit-img  {
	float: left;
	width: 33px;
	height: 35px;
	overflow: hidden;
	background-image: url(../../images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -137px 0px;
}

.bbedit-img:hover {
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -137px -34px;
}


.bbedit-code {
	float: left;
	width: 38px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -183px 0px;
	margin-left: 4px;
	margin-right: 10px;
}

.bbedit-code:hover {
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -183px -34px;
}



.bbedit-quote {
	float: left;
	width: 38px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -224px 0px;
	margin-left: 6px;
}

.bbedit-quote:hover {
	float: left;
	width: 38px;
	height: 35px;
	overflow: hidden;
	background-image: url(http://macilove.com/editor_files/images/comment_tab_icons.png);
	background-repeat: no-repeat;
	background-position: -224px -34px;
	margin-left: 6px;
}

#text3{
	float: left;
	clear: left;
}