#index-latest-news h1, #best-articles h1{
	letter-spacing: -1px;
}

.filter-icons span{
	background-image:url(http://macilove.com/resources/all-icons@2x.svg);
}

#email-subscribe-article{
	vertical-align: top;
	margin-left: 10px;
	font-size: 13px;
	height: 21px;
	border-right: 0;
	width: 195px !important;
	border-radius: 4px 0 0 4px;
}

article h1{
	letter-spacing: -1px;
}

.subcrb-email-button{
	font-size: 12px;
	margin-top: 1px !important;
	margin-left: -4px;
	background: #049cdb;
	background: -moz-linear-gradient(top, #049cdb 0, #06c 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#049cdb),color-stop(100%,#06c));
	background: -webkit-linear-gradient(top,#049cdb 0,#06c 100%);
	background: linear-gradient(to bottom,#049cdb 0,#06c 100%);
	color: white!important;
	text-shadow: 0 -1px 0 #2075cb;
	text-decoration: none;
	padding: 5px 20px;
	border-radius: 0 4px 4px 0;
	line-height: 16px;
	border: 1px solid #1973cc;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset;
	cursor: pointer;
	vertical-align: top;
}

.filter-news-icon{
	background-position:8px 2px;
}

.filter-ipad-icon{
	background-position:-71px 0px;
}

.filter-ios-icon{
	background-position:-144px 0px;
}

.filter-app-icon{
	background-position:-212px -1px;	
}

.filter-trick-icon{
	background-position:-277px -1px;
}

#filter-box #active .filter-news-icon{
	background-position:-345px 2px;
}

#filter-box #active .filter-ipad-icon{
	background-position:-424px 0px;
}

#filter-box #active .filter-ios-icon{
	background-position:-497px 0px;
}

#filter-box #active .filter-app-icon{
	background-position:-565px -1px;
}

#filter-box #active .filter-trick-icon{
	background-position:-629px -1px;
}

.filter-icons p{
	margin-top:-5px;
}

.prev-button-comb{
	border-radius:3px 0 0 3px;
	margin-right:-5px;
	border-right:0;
}

#made-on-a-mac-icon{
	display:inline-block;
	width:98px;
	height:36px;
	background-image:url(http://macilove.com/resources/madeonamac_2x.png);
	background-repeat:no-repeat;
	background-size:98px 36px;
}

#page-not-found{
	background-image:url(http://macilove.com/resources/404-sign_2x.jpg);
	background-size: cover;
}

.ios-store-icon{
	width:62px;
	height:60px;
	display:block;
	margin-right:15px;
	margin-left:0;
	margin-top:10px;
	margin-bottom:10px;
	background-image:url(http://macilove.com/resources/all-icons@2x.svg);
	background-repeat:no-repeat;
	background-position:-997px 0;
}

.mac-app-store-icon{
	width:62px;
	height:60px;
	display:block;
	margin-right:15px;
	margin-left:0;
	margin:10px;
	background-image:url(http://macilove.com/resources/all-icons@2x.svg);
	background-position:-1075px 0;
	background-repeat:no-repeat;
}

.subscribe-news-box .input{
	width:150px;
	height:21px;
	margin-right:-2px;
	border-radius:4px 0 0 4px;
	margin-top:1px;
}

.subscribe-news-box .blue-button{
	margin-top:1px;
}

.subscribe-news-icon{
	background-image:url(http://macilove.com/resources/all-icons@2x.svg);
	background-repeat:no-repeat;
	background-position:-1290px -10px;
	width:35px;
	height:25px;
	display:inline-block;
	margin-right:10px;
	margin-top:-2px;
}

.iphone-icon{
	background-image: url(http://macilove.com/questions/answers-icons/iphone_2x.jpg);
}

#email-subscribe-article{
	background-image: url(http://macilove.com/resources/mail-icon_2x.png);
	background-size: 26px 19px;
	background-repeat: no-repeat;
}

.white-page #email-subscribe-article{
	height: 30px;	
}
